<section style="background-color: #eee;">
    <div class="py-5">
        <h4 class="fw-bolder text-center my-5">Crear producto</h4>

        <form class="d-flex flex-column align-items-center">
            <div class="form-row">
                <div class="form-group">
                    <label for="inputTitle">Titulo</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputCategory">Categoria</label>
                    <input type="text" class="form-control" id="inputCategory" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Descripción</label>
                    <input type="text" class="form-control" id="inputDescription" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputPrice">Precio</label>
                    <input type="number" class="form-control" id="inputPrice" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputThumbnail">URL imagen</label>
                    <input type="text" class="form-control" id="inputThumbnail" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputCode">Código</label>
                    <input type="text" class="form-control" id="inputCode" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputStock">Stock</label>
                    <input type="number" class="form-control" id="inputStock" placeholder="">
                </div>
                <button type="submit" id="btnSubmit" class="mt-4 btn btn-primary col-12">Crear</button>
            </div>
        </form>

        <div class="d-flex justify-content-center mt-5">
            <button id="btnback" class="btn btn-primary">Volver</button>
        </div>

    </div>
</section>

<script src="/js/createProduct.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.12/sweetalert2.all.min.js"></script>