<div class="container col-5 my-5">
  <div>
    <h1 class="my-3">LOGIN</h1>
    <br>
    <div class="my-1 col-5">
      <input id="email" name='email' placeholder="email" class="form-control" type="text" required>
    </div>
    <div class="col-5">
      <input id="password" name='password' placeholder="password" class="form-control" type="password" required>
    </div>
    <div>
      <input id="btnSubmit" class="btn btn-primary my-3" type="submit" value="Login">
    </div>
    <div id="errorMessage"></div>
    <hr>
    <div>
      <button class="btn btn-primary my-3 me-4" onclick="location.href = '/register'">Ir a Register</button>
      <button class="btn btn-primary" onclick="location.href = '/sendRecovery'">Restaurar contraseña</button>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
