<section style="background-color: #eee;">
    <div class="container py-5">
    <h4 class="fw-bolder text-center ps-3 my-5">Compra realizada - Detalle enviado por email</h4>
    <div class="d-flex justify-content-center mt-5">
        <button id="btnback" class="btn btn-primary">Volver</button>
    </div>
    </div>
</section>

<script src="/js/purchase.js"></script>