<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: blue; color: white;">
        <h1 class="my-4 py-4">USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{ user }}</i></h2>
        <h2><i>Rol {{ role }}</i></h2>

        <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>
