<div class="container text-center my-4">
    <div class="jumbotron mt-4" style="background-color: salmon;color: white;">
        <h1 class="pt-3">ERROR DE REGISTRO</h1>
        <button class="btn btn-warning mt-4 mb-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>
