<!DOCTYPE html>
<html lang="es">

<head>
  <title>Restaurar contraseña</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

  <div class="container col-5 my-5">
    <div>
      <h1>Restaurar contraseña</h1>
      <br>
      <h6>Ingrese E-mail</h6>
      <br>
      <div class="col-5">
        <input id="email" name='email' placeholder="email" class="form-control" type="text" required>
      </div>
      <br>
      <h6>Ingrese nueva contraseña</h6>
      <br>
      <div class="col-5">
        <input id="password" name='password' placeholder="password" class="form-control" type="password" required>
      </div>
      <div>
        <input id="btnSubmit" class="btn btn-primary my-3" type="submit" value="Restaurar">
      </div>
    </div>
  </div>
  <script src="/js/restorePassword.js"></script>
</body>

</html>