<!DOCTYPE html>
<html lang="es">

<head>
  <title>Restaurar contraseña</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

  <div class="container col-5 my-5">
    <div>

      <h1>Restaurar contraseña</h1>
      <br>
      <form class="form" action="/restorePassword" method="post" role="form" autocomplete="off">

        <h6>Ingrese email de la cuenta a recuperar</h6>
        <br>
        <div class="form-group col-5">
          <input id="email" name='email' placeholder="email" class="form-control" type="text" required>
        </div>

        <div class="form-group">
          <input id="btnSubmit" class="btn btn-primary my-3" type="submit" value="Enviar">
        </div>
      </form>

    </div>
  </div>

</body>

</html>