<h1>Carts</h1>

<p id="paragraphRender">{{data}}</p>

<h2>Add Cart</h2>

<div>
    <label>Cart</label>
    <input id="inputCart" type="text">
    <span>Ej: {"product":"63f6269a51a56ec092ddc455","quantity":"1"}</span>
</div>
<br>

<button id="btnAddCart">Add Cart</button>

<h2>Update Cart</h2>

<div>
    <label>Cart ID to replace</label>
    <input id="inputCartID" type="text">
    <span>Ej: 63f63c19325ea62e5da65406</span>
    <br>
    <label>New Cart to update</label>
    <input id="inputNewCart" type="text">
    <span>Ej: {"product":"63f6269a51a56ec092ddc455","quantity":"5"}</span>
</div>
<br>

<button id="btnUpdateCart">Update Cart</button>

<h2>Delete Cart</h2>

<div>
    <label>Cart ID to remove</label>
    <input id="inputDeleteCartID" type="text">
    <span>Ej: 63f63c19325ea62e5da65406</span>
</div>
<br>

<button id="btnDeleteCart">Remove Cart</button>

<script src="js/carts.js"></script>