<h1>Real Time Chat</h1>

<div>
    <input id="inputSendMessage" type="text">
    <button id="btnSendMessage">Send Message</button>
</div>
<br>

<p>{{data}}</p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>