<h1>Edit products</h1>

<h2>Add Product</h2>

<div>
    <label>Product</label>
    <input id="inputProduct" type="text">
    <span>Ej: {"title":"Heladera","description":"Model 34fr","price":300,"thumbnail":"N/A","code":"abc123","stock":8}</span>
</div>
<br>

<button id="btnAddProduct">Add Product</button>

<h2>Update Product</h2>

<div>
    <label>Product ID to replace</label>
    <input id="inputProductID" type="text">
    <span>Ej: 63f552cfbefb955950149aa4</span>
    <br>
    <label>New Product to update</label>
    <input id="inputNewProduct" type="text">
    <span>Ej: {"title":"Heladera","description":"Model 34fr","price":300,"thumbnail":"N/A","code":"abc123","stock":8}</span>
</div>
<br>

<button id="btnUpdateProduct">Update Product</button>

<h2>Delete Product</h2>

<div>
    <label>Product ID to remove</label>
    <input id="inputDeleteProductID" type="text">
    <span>Ej: 63f552cfbefb955950149aa4</span>
</div>
<br>

<button id="btnDeleteProduct">Remove Product</button>

<h2>TEST</h2>

<button id="btnTest">Send</button>

<script src="/js/admin.js"></script>