<h1>Real Time Products</h1>

<div>
    <input id="inputAdd" type="text">
    <button id="btnAdd">Add Product</button>
</div>
<br>
<div>
    <input id="inputDelete" type="text">
    <button id="btnDelete">Delete Product</button>
</div>
<br>

<p></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>